.FavoriteActors {
  min-width: 180px;
  max-width: 200px;
  background-color: white;
}

.header {
  height: 40px;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  background-color: #ccc;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

li:hover {
  background-color: #ccc;
}

li.selected {
  background-color: #ccc;
}

li.selected:hover {
  background-color: #fff;
}

li > p {
  padding-left: 10px;
}

.avatar {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}