.movie {
  display: flex;
  padding: 20px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

.movie:hover {
  background-color: #eee;
}

.filter {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.filter:hover {
  background-color: #eee;
}

.placeholder {
  width: 45px;
  height: 81px;
  background-color: #eee;
}

.movie img {
  min-width: 60px;
  max-height: 90px;
}

.movie > div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

p.title {
  font-size: 1.3em;
  margin: 0;
}

p.overview {
  margin: 0;
}

span.button {
  padding: 10px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  white-space: pre-wrap;
}

span.button:hover {
  background-color: #eee;
}