.SearchBar {
  width: 100%;
  margin: 0;
  padding: 10px;
  border-width: 0;
}

.results {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 8px #0000001F;
}

.result {
  padding: 10px;
  margin: 3px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.result:hover {
  background-color: #eee;
}

.result.selected {
  background-color: #eee;
}