.background {
  height: 100%;
  width: 100%;
  background-color: #0000003F;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.card {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}

.card.overview {
  padding-bottom: 5px;
}

.poster {
  height: 450px;
  width: 300px;
}

.similar {
  line-height: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cast {
  margin: 0;
  margin-top: 5px;
}